.body {
  margin-top: 9.1rem;
  width: 73.6rem;
  display: block;
  margin-inline: auto;
  height: fit-content;
}

.info {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.7rem;
  padding-bottom: 2.4rem;
}

.info span {
  color: var(--blue);
}

.info p {
  color: var(--purple);
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6.4rem 2.4rem;
  font-size: 1.6rem;
  line-height: 140%;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
}

.empty svg {
  color: var(--gray-400);
  margin-bottom: 1.6rem;
}

.notEmpty {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.number {
  display: flex;
  padding: .2rem .8rem;
  gap: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
  border-radius: 10rem;
  color: var(--gray-200);
  background-color: var(--gray-400);
}

.created, 
.finished {
  display: flex;
  gap: .8rem;
}
