.header {
  background: var(--gray-700);
  height: 20rem;
  width: 100vw;
  display: flex;
  padding-top: 7.2rem;
  display: block;
}

.title {
  justify-content: center;
  display: flex;
  font-weight: bold;
  font-size: 4rem;
  line-height: 4.8rem;
  height: fit-content;
  
}

.title span {
  color: var(--blue);
  display: flex;
}

.title p {
  display: flex;
  color: var(--purple-dark);
}